{
  "log": {
    "_recordingName": "fetch-clusters",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f0bad22a42bcb9cf5b57afe3ba22e9da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.us4.sysdig.com/api/cloud/v2/dataSources/clusters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 648,
            "text": "[{\"customerID\":5002012,\"accountID\":\"3052281098\",\"provider\":\"gcp\",\"name\":\"sysdig-cluster\",\"region\":\"us-central1\",\"zone\":\"us-central1-c\",\"agentConnected\":false,\"createdAt\":\"2022-10-22T09:40:26Z\",\"nodeCount\":1,\"clusterResourceGroup\":\"\",\"version\":\"1.23.8-gke.1900\",\"agentConnectString\":\"gcloud container clusters get-credentials sysdig-cluster --zone=us-central1-c \\u0026\\u0026 curl -s https://download.sysdig.com/stable/install-agent-kubernetes | sudo bash -s -- --access_key --collector ingest.us4.sysdig.com --collector_port 6443 --cluster_name sysdig-cluster --nodeanalyzer --api_endpoint app.us4.sysdig.com\"}]\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 539,
      },
      {
        "_id": "3ea56afcf922faa7a37bea1198c920bb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_product",
              "value": "SDC"
            }
          ],
          "url": "https://app.us4.sysdig.com/api/user/me?_product=SDC"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1863,
            "text": "{\"user\":{\"termsAndConditions\":true,\"timezone\":\"+00:00\",\"pictureUrl\":\"http://www.gravatar.com/avatar/cc607759b3f61329a5e45bd834b46cbe\",\"customerSettings\":{\"sysdig\":{\"enabled\":false,\"enabledSSE\":false,\"buckets\":[]},\"plan\":{\"maxAgents\":15,\"onDemandAgents\":0,\"maxTeams\":-1,\"timelines\":[{\"from\":null,\"to\":null,\"sampling\":10000000},{\"from\":null,\"to\":null,\"sampling\":60000000},{\"from\":null,\"to\":null,\"sampling\":600000000},{\"from\":null,\"to\":null,\"sampling\":3600000000},{\"from\":null,\"to\":null,\"sampling\":86400000000}],\"metricsSettings\":{\"enforce\":false,\"showExperimentals\":false,\"limits\":{\"jmx\":500,\"statsd\":1000,\"appCheck\":500,\"prometheus\":48000,\"prometheusPerProcess\":500,\"connections\":80,\"progAggregationCount\":12,\"appCheckAggregationCount\":12,\"promMetricsWeight\":0.0,\"topFilesCount\":10,\"topDevicesCount\":10,\"hostServerPorts\":10,\"containerServerPorts\":5,\"limitKubernetesResources\":false,\"kubernetesPods\":10000,\"kubernetesJobs\":10000,\"containerDensity\":200,\"meerkatSuited\":true},\"enforceAgentAggregation\":true,\"enablePromCalculatedIngestion\":false,\"enablePromScrapeV2\":true,\"enableGlobalK8sAllPodContainers\":false},\"secureEnabled\":true,\"monitorEnabled\":true,\"costAdvisorEnabled\":false,\"allocatedAgentsCount\":15,\"subscriptionState\":\"trialing\",\"paymentsIntegrationId\":{\"id\":\"not present\",\"ttl\":{\"ttl\":50}},\"pricingPlan\":\"pro\",\"indirectCustomer\":false,\"trialPlanName\":\"platform-enterprise-standard-monthly\",\"partner\":\"Direct\",\"trialEndDate\":1696109566351,\"subscriptionVersion\":2,\"migratedToV2Direct\":false,\"overageAssessmentEligible\":false},\"environment\":{}},\"customer\":{\"id\":5004061,\"name\":null,\"accessKey\":\"6770b3b1-7bde-45d2-a11e-6e4df89d23f0\",\"externalId\":\"fbcb0a8e-faee-48ea-86fe-0e42b68a22da\",\"externalAccountId\":\"0013Z000023mFcnQAE\",\"dateCreated\":1693517564164},\"oauth\":false,\"agentInstallParams\":{\"accessKey\":\"6770b3b1-7bde-45d2-a11e-6e4df89d23f0\",\"collectorAddress\":\"ingest.us4.sysdig.com\",\"collectorPort\":6443,\"checkCertificate\":true,\"sslEnabled\":true},\"remoteWriteParams\":{\"serverAddress\":\"app.us4.sysdig.com\"},\"properties\":{\"has_been_invited\":false},\"resetPassword\":false,\"additionalRoles\":[],\"teamRoles\":[{\"teamId\":50011679,\"teamName\":\"Monitor Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":50007327,\"userName\":\"ronald.arias@contractor.jupiterone.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true},{\"teamId\":50011680,\"teamName\":\"Secure Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":50007327,\"userName\":\"ronald.arias@contractor.jupiterone.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true}],\"lastUpdated\":1693855776590,\"dateActivated\":1693518790957,\"accessKey\":\"6770b3b1-7bde-45d2-a11e-6e4df89d23f0\",\"impersonated\":false,\"intercomUserIdHash\":\"3b942d9e2f85d038c61b39d51a72a6412855ab30861747a4ce9c14961559171e\",\"uniqueIntercomUserId\":\"50007327.fbcb0a8e-faee-48ea-86fe-0e42b68a22da\",\"currentTeam\":50011680,\"name\":\"ronald.arias@contractor.jupiterone.com\",\"id\":50007327,\"version\":2,\"enabled\":true,\"products\":[\"SDC\",\"SDS\"],\"lastSeen\":1693840092764,\"username\":\"ronald.arias@contractor.jupiterone.com\",\"firstName\":\"Ronald\",\"lastName\":\"Arias\",\"systemRole\":\"ROLE_CUSTOMER\",\"status\":\"confirmed\",\"dateCreated\":1693517564361,\"lastSeenOnSecure\":1693855776590}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 540,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
