{
  "log": {
    "_recordingName": "fetch-clusters",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a8b64a7f911706ca16ad0d13033c05a9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.us4.sysdig.com/api/user/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1791,
            "text": "{\"user\":{\"termsAndConditions\":true,\"timezone\":\"+00:00\",\"pictureUrl\":\"http://www.gravatar.com/avatar/db625e12dbc01a7c18a1f8176c30c8ad\",\"customerSettings\":{\"sysdig\":{\"enabled\":false,\"enabledSSE\":false,\"buckets\":[]},\"plan\":{\"maxAgents\":15,\"onDemandAgents\":0,\"maxTeams\":-1,\"timelines\":[{\"from\":null,\"to\":null,\"sampling\":10000000},{\"from\":null,\"to\":null,\"sampling\":60000000},{\"from\":null,\"to\":null,\"sampling\":600000000},{\"from\":null,\"to\":null,\"sampling\":3600000000},{\"from\":null,\"to\":null,\"sampling\":86400000000}],\"metricsSettings\":{\"enforce\":false,\"showExperimentals\":false,\"limits\":{\"jmx\":500,\"statsd\":1000,\"appCheck\":500,\"prometheus\":8000,\"prometheusPerProcess\":500,\"connections\":80,\"progAggregationCount\":12,\"appCheckAggregationCount\":12,\"promMetricsWeight\":0.0,\"topFilesCount\":10,\"topDevicesCount\":10,\"hostServerPorts\":10,\"containerServerPorts\":5,\"limitKubernetesResources\":false,\"kubernetesPods\":10000,\"kubernetesJobs\":10000,\"containerDensity\":200,\"meerkatSuited\":true},\"enforceAgentAggregation\":true,\"enablePromCalculatedIngestion\":false,\"enablePromScrapeV2\":true,\"enableGlobalK8sAllPodContainers\":false},\"secureEnabled\":true,\"monitorEnabled\":true,\"allocatedAgentsCount\":15,\"subscriptionState\":\"trialing\",\"paymentsIntegrationId\":{\"id\":\"not present\",\"ttl\":{\"ttl\":50}},\"pricingPlan\":\"pro\",\"indirectCustomer\":false,\"trialPlanName\":\"platform-enterprise-standard-monthly\",\"partner\":\"Direct\",\"trialEndDate\":1669014412815,\"subscriptionVersion\":2,\"migratedToV2Direct\":false,\"overageAssessmentEligible\":false},\"environment\":{}},\"customer\":{\"id\":5002012,\"name\":null,\"accessKey\":\"c96722ec-6cab-4009-989e-2585d1cc0ddc\",\"externalId\":\"5b5d85e9-97d6-4ed8-bcd2-8a5ef159ffc1\",\"dateCreated\":1666422412365},\"oauth\":false,\"agentInstallParams\":{\"accessKey\":\"c96722ec-6cab-4009-989e-2585d1cc0ddc\",\"collectorAddress\":\"ingest.us4.sysdig.com\",\"collectorPort\":6443,\"checkCertificate\":true,\"sslEnabled\":true},\"remoteWriteParams\":{\"serverAddress\":\"app.us4.sysdig.com\"},\"properties\":{\"has_been_invited\":false},\"resetPassword\":false,\"additionalRoles\":[],\"teamRoles\":[{\"teamId\":50007301,\"teamName\":\"Secure Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":50003902,\"userName\":\"paul.ilaga@creativice.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true},{\"teamId\":50007300,\"teamName\":\"Monitor Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":50003902,\"userName\":\"paul.ilaga@creativice.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true}],\"lastUpdated\":1666594263876,\"dateActivated\":1666422628222,\"accessKey\":\"c96722ec-6cab-4009-989e-2585d1cc0ddc\",\"intercomUserIdHash\":\"d4a56fa25f1602197e21715aa94abbe7a87cd593a9b72e6c3bf7d694599ea317\",\"uniqueIntercomUserId\":\"50003902.5b5d85e9-97d6-4ed8-bcd2-8a5ef159ffc1\",\"currentTeam\":50007301,\"name\":\"paul.ilaga@creativice.com\",\"id\":50003902,\"version\":2,\"enabled\":true,\"firstName\":\"Paul\",\"lastName\":\"Ilaga\",\"systemRole\":\"ROLE_CUSTOMER\",\"lastSeen\":1666586763345,\"status\":\"confirmed\",\"products\":[\"SDS\",\"SDC\"],\"username\":\"paul.ilaga@creativice.com\",\"dateCreated\":1666422412473,\"lastSeenOnSecure\":1666594263876}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 568,
      },
      {
        "_id": "f0bad22a42bcb9cf5b57afe3ba22e9da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.us4.sysdig.com/api/cloud/v2/dataSources/clusters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 648,
            "text": "[{\"customerID\":5002012,\"accountID\":\"3052281098\",\"provider\":\"gcp\",\"name\":\"sysdig-cluster\",\"region\":\"us-central1\",\"zone\":\"us-central1-c\",\"agentConnected\":false,\"createdAt\":\"2022-10-22T09:40:26Z\",\"nodeCount\":1,\"clusterResourceGroup\":\"\",\"version\":\"1.23.8-gke.1900\",\"agentConnectString\":\"gcloud container clusters get-credentials sysdig-cluster --zone=us-central1-c \\u0026\\u0026 curl -s https://download.sysdig.com/stable/install-agent-kubernetes | sudo bash -s -- --access_key --collector ingest.us4.sysdig.com --collector_port 6443 --cluster_name sysdig-cluster --nodeanalyzer --api_endpoint app.us4.sysdig.com\"}]\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 539,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
