{
  "log": {
    "_recordingName": "build-scanner-image-scans",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "781b757f618646aa5f6ff2792ca8c824",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://app.us4.sysdig.com/api/scanning/v1/resultsDirect?limit=100&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1027,
            "text": "{\n \"options\": {\n  \"sort\": \"desc\",\n  \"sortBy\": \"scanDate\",\n  \"offset\": 0,\n  \"limit\": 1,\n  \"canLoadMore\": false\n },\n \"results\": [\n  {\n   \"analysisStatus\": \"analyzed\",\n   \"analyzedAt\": 1663767229,\n   \"createdAt\": 1663767229,\n   \"fullTag\": \"us-docker.pkg.dev/cloudrun/container/hello:latest\",\n   \"imageDigest\": \"sha256:2e70803dbc92a7bffcee3af54b5d264b23a6096f304f00d63b7d1e177e40986c\",\n   \"imageId\": \"8fce62fb738f8dde0fe0864fb975298f59e9d5ebf730a074790475aada531cd4\",\n   \"parentDigest\": \"sha256:2e70803dbc92a7bffcee3af54b5d264b23a6096f304f00d63b7d1e177e40986c\",\n   \"tagDetectedAt\": 1663767229,\n   \"registry\": \"us-docker.pkg.dev\",\n   \"repository\": \"cloudrun/container/hello\",\n   \"tag\": \"latest\",\n   \"origin\": \"gcp-cloudrun\",\n   \"policyStatus\": \"WARN\"\n  }\n ],\n \"totalRows\": 1,\n \"metadata\": {\n  \"total\": 1,\n  \"policyStatus\": {\n   \"totalPassed\": 1,\n   \"totalFailed\": 0,\n   \"totalNotEvaluated\": 0\n  },\n  \"origins\": {\n   \"gcp-cloudrun\": 1\n  },\n  \"allOrigins\": [\n   \"gcp-cloudrun\"\n  ],\n  \"allRegistries\": [\n   \"us-docker.pkg.dev\"\n  ]\n }\n}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 608,
      },
      {
        "_id": "43de5998cc9b9b6202549e960bf53326",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://app.us4.sysdig.com/api/scanning/scanresults/v2/results?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 613,
            "text": "{\"page\":{\"returned\":2,\"matched\":2,\"next\":null},\"data\":[{\"id\":\"17144f2f45c295bc2fdcae5db51044ca\",\"storedAt\":\"2022-09-13T03:53:46.858993Z\",\"imageId\":\"sha256:43d28810c1b4c28a1be3bac8e0e40fcc472b2bfcfcda952544ed99cb874d2b1a\",\"imagePullString\":\"debian\",\"vulnsBySev\":[0,0,1,5,0,1,5,52],\"exploitCount\":0,\"policyEvaluationsResult\":\"failed\"},{\"id\":\"17140adb60b1639a2f8d615f88de1bfa\",\"storedAt\":\"2022-09-12T07:01:39.742909Z\",\"imageId\":\"sha256:dd8bae8d259fed93eb54b3bca0adeb647fc07f6ef16745c8ed4144ada4d51a95\",\"imagePullString\":\"debian\",\"vulnsBySev\":[0,0,4,7,0,1,5,52],\"exploitCount\":0,\"policyEvaluationsResult\":\"failed\"}]}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
         [...]
