{
  "log": {
    "_recordingName": "client-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "523d3adb2d741742486804151ccecc9c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.us4.sysdig.com/api/benchmarks/v2/status"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 93,
            "text": "{\"message\":\"cannot verify credentials\",\"referenceId\":\"2ea59793-8654-4083-8c78-690b39608d76\"}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 594,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
