{
  "log": {
    "_recordingName": "fetchUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "4803564bbeac8b9c969b5288b919bccb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://us2.app.sysdig.com/api/v2/users/light?limit=250&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 608,
            "text": "{\"users\":[{\"id\":10006755,\"version\":2,\"username\":\"viragsf@gmail.com\",\"enabled\":true,\"systemRole\":\"ROLE_CUSTOMER\",\"firstName\":\"Stefan\",\"lastName\":\"Virag\",\"lastSeenOnSecure\":1638189825281,\"dateCreated\":1636399220686,\"status\":\"confirmed\",\"products\":[\"SDC\",\"SDS\"]},{\"id\":10006754,\"version\":2,\"username\":\"austin.kelleher@jupiterone.dev\",\"enabled\":true,\"systemRole\":\"ROLE_CUSTOMER\",\"firstName\":\"Austin\",\"lastName\":\"Kelleher\",\"lastSeenOnSecure\":1637720323539,\"dateCreated\":1636399070571,\"status\":\"confirmed\",\"products\":[\"SDC\",\"SDS\"]}],\"total\":2,\"offset\":0}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 680,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
