{
  "log": {
    "_recordingName": "build-team-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a8b64a7f911706ca16ad0d13033c05a9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.us4.sysdig.com/api/user/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1791,
            "text": "{\"user\":{\"termsAndConditions\":true,\"timezone\":\"+00:00\",\"pictureUrl\":\"http://www.gravatar.com/avatar/ba5b87ffa4527a556b5f6da95fe36fe5\",\"customerSettings\":{\"sysdig\":{\"enabled\":false,\"enabledSSE\":false,\"buckets\":[]},\"plan\":{\"maxAgents\":0,\"onDemandAgents\":0,\"maxTeams\":-1,\"timelines\":[{\"from\":null,\"to\":null,\"sampling\":10000000},{\"from\":null,\"to\":null,\"sampling\":60000000},{\"from\":null,\"to\":null,\"sampling\":600000000},{\"from\":null,\"to\":null,\"sampling\":3600000000},{\"from\":null,\"to\":null,\"sampling\":86400000000}],\"metricsSettings\":{\"enforce\":false,\"showExperimentals\":false,\"limits\":{\"jmx\":500,\"statsd\":1000,\"appCheck\":500,\"prometheus\":8000,\"prometheusPerProcess\":500,\"connections\":80,\"progAggregationCount\":12,\"appCheckAggregationCount\":12,\"promMetricsWeight\":0.0,\"topFilesCount\":10,\"topDevicesCount\":10,\"hostServerPorts\":10,\"containerServerPorts\":5,\"limitKubernetesResources\":false,\"kubernetesPods\":10000,\"kubernetesJobs\":10000,\"containerDensity\":200,\"meerkatSuited\":true},\"enforceAgentAggregation\":true,\"enablePromCalculatedIngestion\":false,\"enablePromScrapeV2\":true,\"enableGlobalK8sAllPodContainers\":false},\"secureEnabled\":true,\"monitorEnabled\":false,\"allocatedAgentsCount\":0,\"subscriptionState\":\"trial_ended\",\"paymentsIntegrationId\":{\"id\":\"not present\",\"ttl\":{\"ttl\":36}},\"pricingPlan\":\"pro\",\"indirectCustomer\":false,\"trialPlanName\":\"secure-enterprise-standard-monthly\",\"partner\":\"Direct\",\"trialEndDate\":1664383443236,\"subscriptionVersion\":2,\"migratedToV2Direct\":false,\"overageAssessmentEligible\":false},\"environment\":{}},\"customer\":{\"id\":5001686,\"name\":null,\"accessKey\":\"1be2fe7d-f00f-4513-9a15-1384c35d8497\",\"externalId\":\"fbd8b3fc-781c-4e7f-afac-a2ee9309f4c9\",\"dateCreated\":1661791442836},\"oauth\":false,\"agentInstallParams\":{\"accessKey\":\"1be2fe7d-f00f-4513-9a15-1384c35d8497\",\"collectorAddress\":\"ingest.us4.sysdig.com\",\"collectorPort\":6443,\"checkCertificate\":true,\"sslEnabled\":true},\"remoteWriteParams\":{\"serverAddress\":\"app.us4.sysdig.com\"},\"properties\":{\"has_been_invited\":false},\"resetPassword\":false,\"additionalRoles\":[],\"teamRoles\":[{\"teamId\":50006626,\"teamName\":\"Secure Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":50003375,\"userName\":\"stefan.virag@contractor.jupiterone.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true},{\"teamId\":50006625,\"teamName\":\"Monitor Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":50003375,\"userName\":\"stefan.virag@contractor.jupiterone.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true}],\"lastUpdated\":1665494230996,\"dateActivated\":1661791669709,\"accessKey\":\"1be2fe7d-f00f-4513-9a15-1384c35d8497\",\"intercomUserIdHash\":\"7941192844d448aedd650df4bd26799efd5fca275a1f1eef775ee67b6cf061ad\",\"uniqueIntercomUserId\":\"50003375.fbd8b3fc-781c-4e7f-afac-a2ee9309f4c9\",\"currentTeam\":50006626,\"name\":\"stefan.virag@contractor.jupiterone.com\",\"id\":50003375,\"version\":2,\"enabled\":true,\"status\":\"confirmed\",\"products\":[\"SDS\",\"SDC\"],\"firstName\":\"Stefan\",\"lastName\":\"Virag\",\"systemRole\":\"ROLE_CUSTOMER\",\"username\":\"stefan.virag@contractor.jupiterone.com\",\"dateCreated\":1661791442936,\"lastSeenOnSecure\":1665494230996}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 627,
      },
      {
        "_id": "3e491e680291dac54d4afa454fc0fe38",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://app.us4.sysdig.com/api/v2/teams/light?limit=100&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 587,
            "text": "{\"total\":2,\"offset\":0,\"teams\":[{\"id\":50006626,\"version\":1,\"dateCreated\":1661791442997,\"lastUpdated\":1661791442835,\"customerId\":5001686,\"immutable\":true,\"name\":\"Secure Operations\",\"theme\":\"#7BB0B2\",\"description\":\"Immutable Secure team with full visibility\",\"show\":\"host\",\"origin\":\"SYSDIG\",\"canUseSysdigCapture\":true,\"canUseAgentCli\":true,\"canUseCustomEvents\":true,\"canUseAwsMetrics\":true,\"canUseBeaconMetrics\":true,\"canUseRapidResponse\":false,\"defaultTeamRole\":\"ROLE_TEAM_EDIT\",\"userCount\":1,\"entryPoint\":{\"module\":\"Explore\"},\"products\":[\"SDS\"],\"properties\":{},\"namespaceFilters\":{},\"default\":true},{\"id\":50006625,\"version\":1,\"dateCreated\":1661791442957,\"lastUpdated\":1661791442835,\"customerId\":5001686,\"immutable\":true,\"name\":\"Monitor Operations\",\"theme\":\"#7BB0B2\",\"description\":\"Immutable Monitor team with full visibility\",\"show\":\"host\",\"origin\":\"SYSDIG\",\"canUseSysdigCapture\":true,\"canUseAgentCli\":true,\"canUseCustomEvents\":true,\"canUseAwsMetrics\":true,\"canUseBeaconMetrics\":true,\"canUseRapidResponse\":false,\"defaultTeamRole\":\"ROLE_TEAM_EDIT\[...]
