{
  "log": {
    "_recordingName": "fetchAccountDetails",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "0d29cdc1ea9a8e8f7ab793f1e65b94a7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://us2.app.sysdig.com/api/user/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2648,
            "text": "{\"user\":{\"termsAndConditions\":true,\"timezone\":\"+00:00\",\"pictureUrl\":\"http://www.gravatar.com/avatar/edd1469180957cee25d7753ef4a84a13\",\"customerSettings\":{\"sysdig\":{\"enabled\":false,\"enabledSSE\":false,\"buckets\":[]},\"plan\":{\"maxAgents\":15,\"onDemandAgents\":0,\"maxTeams\":-1,\"timelines\":[{\"from\":null,\"to\":null,\"sampling\":10000000},{\"from\":null,\"to\":null,\"sampling\":60000000},{\"from\":null,\"to\":null,\"sampling\":600000000},{\"from\":null,\"to\":null,\"sampling\":3600000000},{\"from\":null,\"to\":null,\"sampling\":86400000000}],\"metricsSettings\":{\"enforce\":false,\"showExperimentals\":false,\"limits\":{\"jmx\":500,\"statsd\":1000,\"appCheck\":500,\"prometheus\":8000,\"prometheusPerProcess\":500,\"connections\":80,\"progAggregationCount\":12,\"appCheckAggregationCount\":12,\"promMetricsWeight\":0.0,\"topFilesCount\":10,\"topDevicesCount\":10,\"hostServerPorts\":10,\"containerServerPorts\":5,\"limitKubernetesResources\":false,\"kubernetesPods\":10000,\"kubernetesJobs\":10000,\"containerDensity\":200,\"meerkatSuited\":true},\"enforceAgentAggregation\":true,\"enablePromCalculatedIngestion\":false,\"enablePromScrapeV2\":true,\"enableGlobalK8sAllPodContainers\":false},\"secureEnabled\":true,\"monitorEnabled\":false,\"allocatedAgentsCount\":15,\"subscriptionState\":\"trialing\",\"paymentsIntegrationId\":{\"id\":\"49659676\",\"ttl\":{\"ttl\":50}},\"pricingPlan\":\"pro\",\"indirectCustomer\":false,\"trialPlanName\":\"secure-enterprise-standard-monthly\",\"partner\":\"None\",\"trialEndDate\":1638991071460,\"subscriptionVersion\":2,\"migratedToV2Direct\":false,\"overageAssessmentEligible\":false},\"environment\":{}},\"customer\":{\"id\":1002849,\"name\":null,\"accessKey\":\"91584491-9f78-4757-ae1a-110a0a8f0068\",\"externalId\":\"f088f23a-a591-4e5f-89ca-e1ad254ab713\",\"dateCreated\":1636399070379},\"oauth\":false,\"agentInstallParams\":{\"accessKey\":\"91584491-9f78-4757-ae1a-110a0a8f0068\",\"collectorAddress\":\"ingest-us2.app.sysdig.com\",\"collectorPort\":6443,\"checkCertificate\":true,\"sslEnabled\":true},\"remoteWriteParams\":{\"serverAddress\":\"us2.app.sysdig.com\"},\"properties\":{\"has_been_invited\":true},\"resetPassword\":false,\"additionalRoles\":[],\"teamRoles\":[{\"teamId\":10006021,\"teamName\":\"Secure Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":10006755,\"userName\":\"viragsf@gmail.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true},{\"teamId\":10006020,\"teamName\":\"Monitor Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":10006755,\"userName\":\"viragsf@gmail.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true}],\"lastUpdated\":1638189825281,\"dateActivated\":1636466484035,\"accessKey\":\"91584491-9f78-4757-ae1a-110a0a8f0068\",\"intercomUserIdHash\":\"6ffd280509637cc4221ceeb32aad9847065ec4f2b4a40aa27f194c51a2b32e86\",\"uniqueIntercomUserId\":\"10006755.f088f23a-a591-4e5f-89ca-e1ad254ab713\",\"currentTeam\":10006021,\"enabled\":true,\"version\":2,\"status\":\"confirmed\",\"products\":[\"SDS\",\"SDC\"],\"username\":\"viragsf@gmail.com\",\"firstName\":\"Stefan\",\"lastName\":\"Virag\",\"systemRole\":\"ROLE_CUSTOMER\",\"lastSeenOnSecure\":1638189825281,\"dateCreated\":1636399220686,\"name\":\"viragsf@gmail.com\",\"id\":10006755}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 687,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
