{
  "log": {
    "_recordingName": "fetchImageScans",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "94b985e076190f8fc73a82f82576d9a7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://us2.app.sysdig.com/api/scanning/v1/resultsDirect?limit=250&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 987,
            "text": "{\n \"options\": {\n  \"sort\": \"desc\",\n  \"sortBy\": \"scanDate\",\n  \"offset\": 0,\n  \"limit\": 1,\n  \"canLoadMore\": false\n },\n \"results\": [\n  {\n   \"analysisStatus\": \"analyzed\",\n   \"analyzedAt\": 1638870815,\n   \"createdAt\": 1638870765,\n   \"fullTag\": \"quay.io/bitnami/nginx:latest\",\n   \"imageDigest\": \"sha256:253a0fef1f5b8baaa691fcfd8a437d800ff91186fb62e19b56ff6b0de5a50355\",\n   \"imageId\": \"29616510799237b94b21e67dbf112411ccea244ed875cd54370d2167ec62b05d\",\n   \"parentDigest\": \"sha256:253a0fef1f5b8baaa691fcfd8a437d800ff91186fb62e19b56ff6b0de5a50355\",\n   \"tagDetectedAt\": 1638870765,\n   \"registry\": \"quay.io\",\n   \"repository\": \"bitnami/nginx\",\n   \"tag\": \"latest\",\n   \"origin\": \"sysdig-secure-ui\",\n   \"policyStatus\": \"WARN\"\n  }\n ],\n \"totalRows\": 1,\n \"metadata\": {\n  \"total\": 1,\n  \"policyStatus\": {\n   \"totalPassed\": 1,\n   \"totalFailed\": 0,\n   \"totalNotEvaluated\": 0\n  },\n  \"origins\": {\n   \"sysdig-secure-ui\": 1\n  },\n  \"allOrigins\": [\n   \"sysdig-secure-ui\"\n  ],\n  \"allRegistries\": [\n   \"quay.io\"\n  ]\n }\n}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 709,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
