{
  "log": {
    "_recordingName": "buildAccountAndTeamsRelationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "0d29cdc1ea9a8e8f7ab793f1e65b94a7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://us2.app.sysdig.com/api/user/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2650,
            "text": "{\"user\":{\"termsAndConditions\":true,\"timezone\":\"+00:00\",\"pictureUrl\":\"http://www.gravatar.com/avatar/edd1469180957cee25d7753ef4a84a13\",\"customerSettings\":{\"sysdig\":{\"enabled\":false,\"enabledSSE\":false,\"buckets\":[]},\"plan\":{\"maxAgents\":15,\"onDemandAgents\":0,\"maxTeams\":-1,\"timelines\":[{\"from\":null,\"to\":null,\"sampling\":10000000},{\"from\":null,\"to\":null,\"sampling\":60000000},{\"from\":null,\"to\":null,\"sampling\":600000000},{\"from\":null,\"to\":null,\"sampling\":3600000000},{\"from\":null,\"to\":null,\"sampling\":86400000000}],\"metricsSettings\":{\"enforce\":false,\"showExperimentals\":false,\"limits\":{\"jmx\":500,\"statsd\":1000,\"appCheck\":500,\"prometheus\":8000,\"prometheusPerProcess\":500,\"connections\":80,\"progAggregationCount\":12,\"appCheckAggregationCount\":12,\"promMetricsWeight\":0.0,\"topFilesCount\":10,\"topDevicesCount\":10,\"hostServerPorts\":10,\"containerServerPorts\":5,\"limitKubernetesResources\":false,\"kubernetesPods\":10000,\"kubernetesJobs\":10000,\"containerDensity\":200,\"meerkatSuited\":true},\"enforceAgentAggregation\":true,\"enablePromCalculatedIngestion\":false,\"enablePromScrapeV2\":true,\"enableGlobalK8sAllPodContainers\":false},\"secureEnabled\":true,\"monitorEnabled\":false,\"allocatedAgentsCount\":15,\"subscriptionState\":\"trialing\",\"paymentsIntegrationId\":{\"id\":\"49659676\",\"ttl\":{\"ttl\":50}},\"pricingPlan\":\"pro\",\"indirectCustomer\":false,\"trialPlanName\":\"secure-enterprise-standard-monthly\",\"partner\":\"None\",\"trialEndDate\":1638991071460,\"subscriptionVersion\":2,\"migratedToV2Direct\":false,\"overageAssessmentEligible\":false},\"environment\":{}},\"customer\":{\"id\":1002849,\"name\":null,\"accessKey\":\"91584491-9f78-4757-ae1a-110a0a8f0068\",\"externalId\":\"f088f23a-a591-4e5f-89ca-e1ad254ab713\",\"dateCreated\":1636399070379},\"oauth\":false,\"agentInstallParams\":{\"accessKey\":\"91584491-9f78-4757-ae1a-110a0a8f0068\",\"collectorAddress\":\"ingest-us2.app.sysdig.com\",\"collectorPort\":6443,\"checkCertificate\":true,\"sslEnabled\":true},\"remoteWriteParams\":{\"serverAddress\":\"us2.app.sysdig.com\"},\"properties\":{\"has_been_invited\":true},\"resetPassword\":false,\"additionalRoles\":[],\"teamRoles\":[{\"teamId\":10006020,\"teamName\":\"Monitor Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":10006755,\"userName\":\"viragsf@gmail.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true},{\"teamId\":10006021,\"teamName\":\"Secure Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":10006755,\"userName\":\"viragsf@gmail.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true}],\"lastUpdated\":1638189825281,\"dateActivated\":1636466484035,\"accessKey\":\"91584491-9f78-4757-ae1a-110a0a8f0068\",\"intercomUserIdHash\":\"6ffd280509637cc4221ceeb32aad9847065ec4f2b4a40aa27f194c51a2b32e86\",\"uniqueIntercomUserId\":\"10006755.f088f23a-a591-4e5f-89ca-e1ad254ab713\",\"currentTeam\":10006021,\"version\":2,\"enabled\":true,\"status\":\"confirmed\",\"dateCreated\":1636399220686,\"lastSeenOnSecure\":1638189825281,\"lastName\":\"Virag\",\"systemRole\":\"ROLE_CUSTOMER\",\"firstName\":\"Stefan\",\"username\":\"viragsf@gmail.com\",\"products\":[\"SDC\",\"SDS\"],\"name\":\"viragsf@gmail.com\",\"id\":10006755}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 694,
      },
      {
        "_id": "0e50e26c00bc9d8ff41eec090f89b1fc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://us2.app.sysdig.com/api/v2/teams/light?limit=250&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 862,
            "text": "{\"total\":2,\"offset\":0,\"teams\":[{\"id\":10006021,\"version\":1,\"dateCreated\":1636399070709,\"lastUpdated\":1636399070379,\"customerId\":1002849,\"immutable\":true,\"name\":\"Secure Operations\",\"theme\":\"#7BB0B2\",\"description\":\"Immutable Secure team with full visibility\",\"show\":\"host\",\"origin\":\"SYSDIG\",\"canUseSysdigCapture\":true,\"canUseAgentCli\":true,\"canUseCustomEvents\":true,\"canUseAwsMetrics\":true,\"canUseBeaconMetrics\":true,\"canUseRapidResponse\":false,\"defaultTeamRole\":\"ROLE_TEAM_EDIT\",\"userCount\":2,\"entryPoint\":{\"module\":\"Explore\"},\"products\":[\"SDS\"],\"properties\":{},\"namespaceFilters\":{},\"default\":true},{\"id\":10006020,\"version\":1,\"dateCreated\":1636399070618,\"lastUpdated\":1636399070379,\"customerId\":1002849,\"immutable\":true,\"name\":\"Monitor Operations\",\"theme\":\"#7BB0B2\",\"description\":\"Immutable Monitor team with full visibility\",\"show\":\"host\",\"origin\":\"SYSDIG\",\"canUseSysdigCapture\":true,\"canUseAgentCli\":true,\"canUseCustomEvents\":true,\"canUseAwsMetrics\":true,\"canUseBeaconMetrics\":true,\"canUseRapidResponse\":false,\"defaultTeamRole\":\"ROLE_TEAM_EDIT\",\"userCount\":2,\"entryPoint\":{\"module\":\"Explore\"},\"products\":[\"SDC\"],\"properties\":{},\"namespaceFilters\":{},\"default\":true}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 713,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
