{
  "log": {
    "_recordingName": "fetch-findings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a8b64a7f911706ca16ad0d13033c05a9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.us4.sysdig.com/api/user/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1787,
            "text": "{\"user\":{\"termsAndConditions\":true,\"timezone\":\"+00:00\",\"pictureUrl\":\"http://www.gravatar.com/avatar/ba5b87ffa4527a556b5f6da95fe36fe5\",\"customerSettings\":{\"sysdig\":{\"enabled\":false,\"enabledSSE\":false,\"buckets\":[]},\"plan\":{\"maxAgents\":15,\"onDemandAgents\":0,\"maxTeams\":-1,\"timelines\":[{\"from\":null,\"to\":null,\"sampling\":10000000},{\"from\":null,\"to\":null,\"sampling\":60000000},{\"from\":null,\"to\":null,\"sampling\":600000000},{\"from\":null,\"to\":null,\"sampling\":3600000000},{\"from\":null,\"to\":null,\"sampling\":86400000000}],\"metricsSettings\":{\"enforce\":false,\"showExperimentals\":false,\"limits\":{\"jmx\":500,\"statsd\":1000,\"appCheck\":500,\"prometheus\":8000,\"prometheusPerProcess\":500,\"connections\":80,\"progAggregationCount\":12,\"appCheckAggregationCount\":12,\"promMetricsWeight\":0.0,\"topFilesCount\":10,\"topDevicesCount\":10,\"hostServerPorts\":10,\"containerServerPorts\":5,\"limitKubernetesResources\":false,\"kubernetesPods\":10000,\"kubernetesJobs\":10000,\"containerDensity\":200,\"meerkatSuited\":true},\"enforceAgentAggregation\":true,\"enablePromCalculatedIngestion\":false,\"enablePromScrapeV2\":true,\"enableGlobalK8sAllPodContainers\":false},\"secureEnabled\":true,\"monitorEnabled\":false,\"allocatedAgentsCount\":15,\"subscriptionState\":\"trialing\",\"paymentsIntegrationId\":{\"id\":\"not present\",\"ttl\":{\"ttl\":43}},\"pricingPlan\":\"pro\",\"indirectCustomer\":false,\"trialPlanName\":\"secure-enterprise-standard-monthly\",\"partner\":\"Direct\",\"trialEndDate\":1664383443236,\"subscriptionVersion\":2,\"migratedToV2Direct\":false,\"overageAssessmentEligible\":false},\"environment\":{}},\"customer\":{\"id\":5001686,\"name\":null,\"accessKey\":\"1be2fe7d-f00f-4513-9a15-1384c35d8497\",\"externalId\":\"fbd8b3fc-781c-4e7f-afac-a2ee9309f4c9\",\"dateCreated\":1661791442836},\"oauth\":false,\"agentInstallParams\":{\"accessKey\":\"1be2fe7d-f00f-4513-9a15-1384c35d8497\",\"collectorAddress\":\"ingest.us4.sysdig.com\",\"collectorPort\":6443,\"checkCertificate\":true,\"sslEnabled\":true},\"remoteWriteParams\":{\"serverAddress\":\"app.us4.sysdig.com\"},\"properties\":{\"has_been_invited\":false},\"resetPassword\":false,\"additionalRoles\":[],\"teamRoles\":[{\"teamId\":50006625,\"teamName\":\"Monitor Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":50003375,\"userName\":\"stefan.virag@contractor.jupiterone.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true},{\"teamId\":50006626,\"teamName\":\"Secure Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":50003375,\"userName\":\"stefan.virag@contractor.jupiterone.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true}],\"lastUpdated\":1663948286570,\"dateActivated\":1661791669709,\"accessKey\":\"1be2fe7d-f00f-4513-9a15-1384c35d8497\",\"intercomUserIdHash\":\"7941192844d448aedd650df4bd26799efd5fca275a1f1eef775ee67b6cf061ad\",\"uniqueIntercomUserId\":\"50003375.fbd8b3fc-781c-4e7f-afac-a2ee9309f4c9\",\"currentTeam\":50006626,\"name\":\"stefan.virag@contractor.jupiterone.com\",\"id\":50003375,\"version\":2,\"enabled\":true,\"lastSeenOnSecure\":1663948286570,\"username\":\"stefan.virag@contractor.jupiterone.com\",\"firstName\":\"Stefan\",\"lastName\":\"Virag\",\"systemRole\":\"ROLE_CUSTOMER\",\"status\":\"confirmed\",\"products\":[\"SDC\",\"SDS\"],\"dateCreated\":1661791442936}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 595,
      },
      {
        "_id": "781b757f618646aa5f6ff2792ca8c824",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://app.us4.sysdig.com/api/scanning/v1/resultsDirect?limit=100&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1027,
            "text": "{\n \"options\": {\n  \"sort\": \"desc\",\n  \"sortBy\": \"scanDate\",\n  \"offset\": 0,\n  \"limit\": 1,\n  \"canLoadMore\": false\n },\n \"results\": [\n  {\n   \"analysisStatus\": \"analyzed\",\n   \"analyzedAt\": 1663767229,\n   \"createdAt\": 1663767229,\n   \"fullTag\": \"us-docker.pkg.dev/cloudrun/container/hello:latest\",\n   \"imageDigest\": \"sha256:2e70803dbc92a7bffcee3af54b5d264b23a6096f304f00d63b7d1e177e40986c\",\n   \"imageId\": \"8fce62fb738f8dde0fe0864fb975298f59e9d5ebf730a074790475aada531cd4\",\n   \"parentDigest\": \"sha256:2e70803dbc92a7bffcee3af54b5d264b23a6096f304f00d63b7d1e177e40986c\",\n   \"tagDetectedAt\": 1663767229,\n   \"registry\": \"us-docker.pkg.dev\",\n   \"repository\": \"cloudrun/container/hello\",\n   \"tag\": \"latest\",\n   \"origin\": \"gcp-cloudrun\",\n   \"policyStatus\": \"WARN\"\n  }\n ],\n \"totalRows\": 1,\n \"metadata\": {\n  \"total\": 1,\n  \"policyStatus\": {\n   \"totalPassed\": 1,\n   \"totalFailed\": 0,\n   \"totalNotEvaluated\": 0\n  },\n  \"origins\": {\n   \"gcp-cloudrun\": 1\n  },\n  \"allOrigins\": [\n   \"gcp-cloudrun\"\n  ],\n  \"allRegistries\": [\n   \"us-docker.pkg.dev\"\n  ]\n }\n}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1156,
      },
      {
        "_id": "43de5998cc9b9b6202549e960bf53326",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://app.us4.sysdig.com/api/scanning/scanresults/v2/results?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 613,
            "text": "{\"page\":{\"returned\":2,\"matched\":2,\"next\":null},\"data\":[{\"id\":\"17144f2f45c295bc2fdcae5db51044ca\",\"storedAt\":\"2022-09-13T03:53:46.858993Z\",\"imageId\":\"sha256:43d28810c1b4c28a1be3bac8e0e40fcc472b2bfcfcda952544ed99cb874d2b1a\",\"imagePullString\":\"debian\",\"vulnsBySev\":[0,0,1,5,0,1,5,52],\"exploitCount\":0,\"policyEvaluationsResult\":\"failed\"},{\"id\":\"17140adb60b1639a2f8d615f88de1bfa\",\"storedAt\":\"2022-09-12T07:01:39.742909Z\",\"imageId\":\"sha256:dd8bae8d259fed93eb54b3bca0adeb647fc07f6ef16745c8ed4144ada4d51a95\",\"imagePullString\":\"debian\",\"vulnsBySev\":[0,0,4,7,0,1,5,52],\"exploitCount\":0,\"policyEvaluationsResult\":\"failed\"}]}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
         [...]
