{
  "log": {
    "_recordingName": "fetchTeams",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "0e50e26c00bc9d8ff41eec090f89b1fc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://us2.app.sysdig.com/api/v2/teams/light?limit=250&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 862,
            "text": "{\"total\":2,\"offset\":0,\"teams\":[{\"id\":10006021,\"version\":1,\"dateCreated\":1636399070709,\"lastUpdated\":1636399070379,\"customerId\":1002849,\"immutable\":true,\"name\":\"Secure Operations\",\"theme\":\"#7BB0B2\",\"description\":\"Immutable Secure team with full visibility\",\"show\":\"host\",\"origin\":\"SYSDIG\",\"canUseSysdigCapture\":true,\"canUseAgentCli\":true,\"canUseCustomEvents\":true,\"canUseAwsMetrics\":true,\"canUseBeaconMetrics\":true,\"canUseRapidResponse\":false,\"defaultTeamRole\":\"ROLE_TEAM_EDIT\",\"userCount\":2,\"entryPoint\":{\"module\":\"Explore\"},\"products\":[\"SDS\"],\"properties\":{},\"namespaceFilters\":{},\"default\":true},{\"id\":10006020,\"version\":1,\"dateCreated\":1636399070618,\"lastUpdated\":1636399070379,\"customerId\":1002849,\"immutable\":true,\"name\":\"Monitor Operations\",\"theme\":\"#7BB0B2\",\"description\":\"Immutable Monitor team with full visibility\",\"show\":\"host\",\"origin\":\"SYSDIG\",\"canUseSysdigCapture\":true,\"canUseAgentCli\":true,\"canUseCustomEvents\":true,\"canUseAwsMetrics\":true,\"canUseBeaconMetrics\":true,\"canUseRapidResponse\":false,\"defaultTeamRole\":\"ROLE_TEAM_EDIT\",\"userCount\":2,\"entryPoint\":{\"module\":\"Explore\"},\"products\":[\"SDC\"],\"properties\":{},\"namespaceFilters\":{},\"default\":true}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 674,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
